/*.soft-param*/
.soft-param{border:1px solid #f2f2f2;}
.soft-param-hd{font-size:0;padding: 15px 0 10px 14px;border-bottom:2px solid #f2f2f2;}
.soft-param-hd h1,.soft-param-hd p {display: inline-block;*display:inline;*zoom:1;color: #333;}
.soft-param-hd h1 {font-size:22px;height:30px;line-height:30px;}
.soft-param-hd p {font-size:12px;border-left:1px solid #ddd;margin:4px 0 0 20px;padding: 4px 0 2px 18px;vertical-align: top;}
.soft-param-bd{padding:18px 14px 12px;}
.soft-param-info{width: 390px;position: relative;margin-top: -6px;}
.soft-param-info li{float: left;display: inline;}
.soft-param-info-hd li{border-bottom:1px solid #ececec;height:30px;line-height: 30px;width: 205px;padding-left: 10px;overflow: hidden;white-space: nowrap;}
.soft-param-info-hd li.r{width: 165px;}
.soft-param-info-hd li a{color: #005a92;}
.soft-param-info-hd li a:hover{color:#ff9f15;}
.soft-param-info-hd li.tag{width: 390px;}
.soft-param-info-hd li.tag a{padding-left:5px;}
.soft-param-info-bd{padding: 15px 0 12px;}
.soft-param-info-bd li{width: 130px;}
.soft-param-info-bd li a{display: block;padding-left: 50px;height:32px;line-height:32px;background-image: url("../img/sprite_1.png");background-repeat:no-repeat;background-color: #fff;font-size:16px;color: #666;}
.soft-param-info-bd li a.comment{background-position: 10px 0px;}
.soft-param-info-bd li a.download{background-position: 10px -32px;}
.soft-param-info-bd li a.favorite{background-position: 10px -64px;}
.soft-param-info-ft{padding: 0 6px;}
.soft-param-info-ft .vote{background-image: url("../img/vote.png");background-repeat: no-repeat;width: 126px;padding-left: 54px;height: 42px;text-decoration: none;color: #a3a5a8;}
.soft-param-info-ft .vote.support{background-position: 0 0;}
.soft-param-info-ft .vote.support:hover{background-position: 0 -43px;}
.soft-param-info-ft .vote.oppose{background-position: 0 -86px;}
.soft-param-info-ft .vote.oppose:hover{background-position: 0 -129px;}
.soft-param-info-ft .vote .vote-text{font-size:12px;line-height:1em;padding-top: 6px;}
.soft-param-info-ft .vote .vote-progress{padding-top: 2px;}
.soft-param-info-ft .vote .vote-progress-bar{background-color: #fff;width: 50px;height:5px;border-width: 1px;border-style: solid;}
.soft-param-info-ft .vote .vote-progress-bar span{display: block;height:5px;}
.soft-param-info-ft .vote.support .vote-progress-bar{border-color: #ffb623;}
.soft-param-info-ft .vote.support .vote-progress-bar span{background-color: #ffb623;}
.soft-param-info-ft .vote.oppose .vote-progress-bar{border-color: #0084ea;}
.soft-param-info-ft .vote.oppose .vote-progress-bar span{background-color: #0084ea;}
.soft-param-info-ft .vote .vote-progress-num{margin-left: 6px;font-size:12px;}
.soft-same{width: 280px;padding:0 0 0 36px;}
.soft-same .title{background:#f1f6fe;color: #333;height: 26px;line-height:26px;padding-left: 6px;}
.soft-same .list{padding: 0 6px;height: 130px;overflow: hidden;}
.soft-same .list li{border-bottom:1px dashed #dfdfdf;height:25px;line-height:25px;overflow: hidden;}
.soft-same .list li a{color:#005a92;}
.soft-same .list li a:hover{color:#ff9f15;}
.soft-same .list li span{color:#999;}
.soft-same .list li span.hot{color:#f00;}
.soft-same .download{display: block;text-indent: -999em;height: 78px;width:270px;margin: 16px auto 0;background: url("../img/sprite_2.png") no-repeat 0 -240px;}
.soft-same .download:hover{background-position: 0 -322px;}
.soft-param-bd .alliance-ad{height: 250px;width:244px;background: #e0e0e0;}
/*2017改相关软件*/
.soft-xiangguan{width: 250px;padding:0 0 0 0px;margin-left: 15px}
.soft-xiangguan .title{background:#f1f6fe;color: #333;height: 26px;line-height:26px;padding-left: 6px;}
.soft-xiangguan .list{padding: 0 6px;height: 186px;overflow: hidden;}
.soft-xiangguan .list li{border-bottom:1px dashed #dfdfdf;height:25px;line-height:25px;overflow: hidden;}
.soft-xiangguan .list li a{color:#005a92;}
.soft-xiangguan .list li a:hover{color:#ff9f15;}
.soft-xiangguan .list li span{color:#999;}
.soft-xiangguan .list li span.hot{color:#f00;}
.soft-param-bd .xiangguan-ad{height: 250px;width:300px;background: #e0e0e0;}
.sfl{float:left;_display:inline;}
.sfr{float:right;_display:inline;}
.detail{}
.detail-warp{position: relative;}
.detail-main{border:1px solid #f2f2f2;width: 726px;position: relative;}
.fixed{position: fixed;margin-left: 726px;width: 30px;height:202px;z-index: 999;bottom: 140px;display: none;background: #1186e2;-webkit-border-radius:24px 0 24px;-moz-border-radius:24px 0 24px;border-radius:24px 0 24px;overflow: hidden;}
* html,* html body{background-image:url(about:blank);background-attachment:fixed}
* html .fixed{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop - 200))}

.fixed .go-top,.fixed .go-download{padding: 20px 6px;line-height: 20px;text-align: center;display: block;height:61px;-webkit-border-radius: 24px 0 24px;-moz-border-radius: 24px 0 24px;border-radius: 24px 0 24px;font-size:14px;color: #fff;text-decoration: none;}
.fixed .go-top{background: url("../img/fixed_up.gif") no-repeat center top;}
.fixed .go-download{background: url("../img/fixed_down.gif") no-repeat center bottom;}
.fixed .go-top:hover,.fixed .go-download:hover{background-color: #0e73db;}
.detail-navs{border-bottom: 1px solid #2589ef;overflow: hidden;font-weight:700;}
.detail-navs a{position: relative;font-size:14px;color: #333;height: 32px;line-height:32px;padding: 4px 20px 2px;border-left: 1px solid #f2f2f2;border-right: 1px solid #f2f2f2;margin-left: -1px;}
.detail-navs a:hover{color: #2589ef;text-decoration: none;}
.detail-navs a.on{color: #fff;background: #2589ef;border-color: #2589ef;}
.detail-content{padding: 0 13px;}
.other-version-desc {color: #333;font-size:14px;padding-bottom: 10px;}
.other-version-desc h3{padding-top: 15px;height: 28px;line-height:28px;font-weight:800;border-bottom: 1px solid #ddd;margin-bottom: 10px;}
.other-version-desc p{padding: 10px 0 6px;line-height:1.6em;}
.other-version-desc p.warning{background-color: #fdfbe0;border:1px solid #e9e9e7;padding: 10px;margin-top: 10px;color: #000;}
.other-version table{margin-top:10px;border-left-width: 0;border-top:0;border-right:1px solid #ddd;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #ddd;font-size:12px; width:100%;height:90px;table-layout:fixed;background-color:#fafafa;}
.other-version table td{border-left-width: 1px;border-left-style: solid;border-left-color: #ddd;border-top:1px solid #ddd;}
.other-version .other-version-title a{font-size:14px;padding-left:8px;color:#0080f0;font-weight:bold;}
.other-version .other-version-title:hover a{color:#005a92;}
.other-version .other-version-info {padding-left:8px;color:#666;font-size:12px;}
.other-version .other-version-desc {overflow:hidden;white-space:pre;}
.other-version .other-version-icon {width:110px;text-align:center;}
.other-version .other-version-icon img{width:65px;height:65px;border:0;}
.other-version .other-version-download {width: 170px;text-align:center;}
.other-version .other-version-download a {width: 100px;border-radius: 4px;background: #1196d9;line-height:30px;padding:0;color: #fff;display: inline-block;*display:inline;*zoom:1;  font-size: 12px;}
.other-version .other-version-download a:hover{background: #ff9f15;text-decoration: none;color: #fff}
.soft-desc-content {color: #333;font-size:14px;padding-bottom: 10px;}
.soft-desc-content h3{padding-top: 15px;height: 28px;line-height:28px;font-weight:700;border-bottom: 1px solid #ddd;}
.soft-desc-content p{padding: 10px 3px 6px;line-height:1.6em;}
.soft-desc-content p a{color: #005a92;}
.soft-desc-content p a:hover{color:#ff9f15;}
.soft-desc-content p.warning{background-color: #fdfbe0;border:1px solid #e9e9e7;padding: 10px;margin-top: 10px;color: #000;}
.soft-desc-tags{font-size:12px;padding: 10px 0;}
.soft-desc-heji strong,.soft-desc-tags strong{font-size:14px;font-weight:500;color: #333;}
.soft-desc-tags a{color: #2589ef;margin-right: 10px;}
.soft-desc-heji span{padding-right:8px;}
.soft-desc-heji{padding: 10px 8px 3px 6px;overflow: hidden;position: relative;margin-right: -8px;margin-bottom:-5px;}
.soft-desc-heji a{display: inline-block;*display:inline;*zoom:1;font-size:14px;height: 24px;line-height:1.6em;padding: 0 5px;background: #fff;border:1px solid #339933;margin-right: 8px;margin-bottom: 5px;color: #339933;border-radius:5px;}
.soft-desc-heji a:hover{background-color: #339933;color: #fff;text-decoration: none;}
.pre-next-soft{background: #f2f8ff;padding: 0 60px;height: 32px;line-height:32px;}
.pre-next-soft strong,.pre-next-soft a{color: #2689ef;font-weight:500;}
.detail-main-title{padding: 8px 10px 10px 12px;background: #f9f9f9;}
.detail-main-title h3{height:14px;line-height: 14px;overflow: hidden;font-size:14px;color: #333;padding:2px 0 0 10px;border-left: 5px solid #666;}
.softpics .detail-main-content{padding: 30px 0;}
.softpics .ruanjitu{width: 540px;height:100%;margin: 0 auto;position: relative;}
.softpics .ruanjitu .pics{width: 540px;position: relative;overflow: hidden;}
.softpics .ruanjitu ul{position: relative;}
.softpics .ruanjitu li{overflow: hidden;position: relative;width: 540px;margin:0 auto;text-align:center;}
.softpics .ruanjitu img{display: block;background-color: #ccc;max-width:540px;max-height:480px;margin:0 auto;vertical-align:middle;}
.softpics .ruanjitu img{width: expression(this.width > 540 ? '540px': true); max-width: 540px;height: expression(this.height > 480 ? '480px': true); max-height: 414px;}
.soft-pics .detail-main-content {padding: 30px 0;}
.soft-pics .slider {width: 540px;height:480px;margin: 0 auto;position: relative;}
.soft-pics .slider .pics {width: 540px;height:480px;position: relative;overflow: hidden;vertical-align:middle;}
.soft-pics .slider ul {position: absolute;font-size:0;}
.soft-pics .slider li {overflow: hidden;position: relative;width: 540px;height:480px;line-height:480px;margin:0 auto;overflow:hidden;position:relative;text-align:center;}
.soft-pics .slider li p {position:static;+position:absolute;top:50%;vertical-align:middle}
.soft-pics .slider img {position:static;+position:relative;top:-50%;left:-50%;vertical-align:middle;max-width: 540px;max-height: 480px;}
.soft-pics .slider img {width: expression(this.width > 540 ? '540px': true);max-width: 540px;height: expression(this.height > 480 ? '480px': true);max-height: 480px;}
.slider-ctrl .pre, .slider-ctrl .next {position: absolute;width: 28px;height: 56px;top:50%;margin-top: -28px;background: url("../img/slider-ctrl.png") no-repeat 0 0;}
.slider-ctrl .pre {left: -40px;background-position: 0 0;}
.slider-ctrl .next {right: -40px;background-position: -30px 0;}
.soft-downUrl-title{ font-size:20px;padding-top: 12px;height: 36px;line-height:36px;color: #333;font-weight:500;}
.soft-downUrl-content{border-top: 1px solid #efeeee;border-bottom: 1px solid #efeeee;}
.soft-downUrl-main{width: 316px;}
.softxiajia{padding:30px 0 0 30px;}
.softfabu{padding:30px 0 0 30px;}
.soft-downUrl-content .alliance-ad{margin-top: 33px;margin-bottom: 5px;height:300px;width: 361px;background: #e0e0e0;}
.soft-downUrl-list.underline{border-bottom: 1px solid #efeeee;}
.soft-downUrl-list strong{display: block;font-size:12px;font-weight:800;color: #666;padding: 10px 0 12px;line-height:2em;}
.soft-downUrl-list li{width: 130px;padding-bottom: 10px;}
.soft-downUrl-list li a{font-size:14px;color: #005a92;display: block;width: 92px;padding-left: 38px;background: url("../img/sprite_1.png") no-repeat 0 -96px;height:32px;line-height:32px;}
.soft-downUrl-list li a:hover{color: #fc7202;}
.to-feedback{color: #333;font-size:14px;padding: 10px 0 14px;}
.to-feedback a{color:#4b77be;}
.soft-likeArc ul{overflow: hidden;margin-right: -60px;padding: 10px 0;}
.soft-likeArc li{float: left;display: inline;width: 320px;margin-right:60px;height: 30px;line-height:30px;overflow: hidden;}
.soft-likeArc li a{font-size:14px;color:#333;padding-left:24px;padding-right: 8px;background: url("../img/point.png") no-repeat 13px 10px;}
.soft-likeArc li a:hover{color:#ff9f15;}
.feedback-modal{display: none;background: #fff;position: fixed;margin: auto;top:0;right:0;bottom:0;left:0;width: 400px;height: 270px;border:1px solid #666;overflow: hidden;}
.feedback-modal p{text-align: center;font-size: 12px;font-weight:800;color: #333;padding: 8px 0 10px;}
.feedback-modal textarea{display: block;font-size: 12px;color: #333;width: 340px;height:180px;margin: 0 auto;border:1px solid #999;}
.feedback-modal button{padding:4px 16px;text-align: center;}
.feedback-modal a.close{color: #888;text-decoration: underline;font-weight:800;font-size:14px;position: absolute;right: 8px;top:7px;}
/*推荐相关软件样式*/
.table-re table{margin-top:10px;margin-left:26px;border-left:0;border-top:0;border-right:1px solid #DDD;border-bottom:1px solid #DDD;font-size:12px;width:660px;height:90px;table-layout:fixed;background-color:#FAFAFA;} 
.table-re table td{border-left:1px solid #DDD;border-top:1px solid #DDD} 
.re_title{font-size:14px;padding-left:8px;color:#333;font-weight:bold;}
.re_title:hover{color:#005a92}
.re_sub_title{padding-left:8px;color:#666;}
.re_content{overflow:hidden; white-space:pre;}
.table-re .re_edge img{width:65px;height:65px;border:0;}
.re_downedge{width: 130px;text-align:center}
.re_down{width: 80px;border-radius: 4px;background: #1196d9;line-height:30px;padding:0;color: #FFF;background-position: -1px -216px;display: inline-block;font-size: 12px;}
.re_down:hover{background: #FF9F15;text-decoration: none;color: #FFF}
.re_edge{width:110px; text-align:center}
.xzdza{}
.mt1{margin-bottom:10px;}
.softdza{width: 700px;height:80px;}
/*软件列表*/
.list-main{width: 728px;position: relative;}
.list-main-box{border:1px solid #f2f2f2}
.list-main-box .title{border-bottom: 2px solid #2689ef;}
.list-main-box .title span{cursor: pointer;height: 28px;line-height: 28px;font-size:14px;padding: 0 14px;color: #333;border-right:1px solid #f2f2f2;font-weight:500;}
.list-main-box .title span.on{background: #2689ef;color: #fff;border-right:0px none;}
.list-main-box .content{}
.list-main-box .recommend{padding: 10px 0;}
.list-main-box .recommend ul{background: url("../img/recommend_bg.png") repeat 0 0;}
.list-main-box .recommend li{float: left;display: inline;width: 242px;padding: 5px 0;}
.list-main-box .recommend li img{display: inline-block;*display: inline;*zoom: 1;width: 20px;height: 20px;margin-right: 8px;}
.list-main-box .recommend li a{display: block;height: 20px;overflow: hidden;padding: 0 16px;line-height:20px;color: #333;font-size:14px;}
.list-main-box .recommend li a:hover{color: #2689ef;}
.list-main-box .soft-lists{padding: 18px 14px;}
.list-main-box .soft-lists .soft-item{overflow: hidden;}
.list-main-box .soft-lists .soft-item-hd{background-color: #f2f8ff;height:30px;line-height:30px;}
.list-main-box .soft-lists .soft-item-hd h3{font-weight:500;font-size:14px;padding: 0 0 0 10px;}
.list-main-box .soft-lists .soft-item-hd h3 a{color: #2689ef;}
.list-main-box .soft-lists .soft-item-hd .star-bar{height: 16px;width: 80px;margin: 7px 10px 0 0;background: url("../img/star.png") repeat-x 0 -16px;}
.list-main-box .soft-lists .soft-item-hd .star-lv{background: url("../img/star.png") repeat-x 0 0;height: 16px;overflow: hidden;}
.list-main-box .soft-lists .soft-item-hd .star-lv1{width: 20%;}
.list-main-box .soft-lists .soft-item-hd .star-lv2{width: 40%;}
.list-main-box .soft-lists .soft-item-hd .star-lv3{width: 60%;}
.list-main-box .soft-lists .soft-item-hd .star-lv4{width: 80%;}
.list-main-box .soft-lists .soft-item-hd .star-lv5{width: 100%;}
.list-main-box .soft-lists .soft-item-hd h3 span{font-size:12px;}
.list-main-box .soft-lists .soft-item-bd{color: #999;font-size:12px;padding: 0 10px;height: 28px;line-height:28px;}
.list-main-box .soft-lists .soft-item-ft{padding: 10px;}
.list-main-box .soft-lists .soft-item-ft .to-down{padding: 16px 0 0 10px;}
.list-main-box .soft-lists .soft-item-ft .to-down a{display: block;width: 70px;height:28px;line-height: 28px;text-align: center;border-radius: 4px;text-decoration: none;color: #fff;background: #fb7102;}
.list-main-box .soft-lists .soft-item-ft .to-down a:hover{background: #fb8a2f;}
.list-main-box .soft-lists .soft-item-ft .to-desc img{height: 48px;width: 48px;}
.list-main-box .soft-lists .soft-item-ft .to-desc p{font-size: 12px;color: #333;line-height: 20px;margin-left: 56px;}
.list-main-box .soft-lists .soft-item-bd span{color: #2689ef;}
.feedback-modal{display: none;background: #fff;position: fixed;margin: auto;top:0;right:0;bottom:0;left:0;width: 400px;height: 270px;border:1px solid #666;overflow: hidden;}
.feedback-modal p{text-align: center;font-size: 12px;font-weight:800;color: #333;padding: 8px 0 10px;}
.feedback-modal textarea{display: block;font-size: 12px;color: #333;width: 340px;height:180px;margin: 0 auto;border:1px solid #999;}
.feedback-modal button{padding:4px 16px;text-align: center;}
.feedback-modal a.close{color: #888;text-decoration: underline;font-weight:800;font-size:14px;position: absolute;right: 8px;top:7px;}
.dib-itema{display: inline-block; *display:inline;*zoom:1;}
.smt10{margin-bottom:10px;}